body {
  background: #c2e2ff;
}
h1 {
  font-family: "Unbounded", cursive;
  line-height: 90px;
}
h2 {
  font-family: "Unbounded", cursive;
}
* {
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
  text-align: center;
}
.profile {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
